#monaco-render {
  display: inline-block;
  width: 50%;
  height: 600px;
  border: 1px solid grey;
  box-sizing: border-box;
  vertical-align: top;
}

#md-render {
  display: inline-block;
  width: 50%;
  height: 600px;
  vertical-align: top;
}
